* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
  }
  .wrapper {
    border: 1px solid rgb(61, 61, 61);
    width: 650px;
  }
  .Stopwatch
  {
    padding-top: 10px;
    color: rgb(95, 92, 92);
  }
  .Countdown {
    font-family: Arial, Verdana;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    padding: 22px;
    border: solid 1px #e5e5e5;
    text-align: center;
  }
  .page-1 h1 {
    text-align: center;
    margin: 0 0 8px 0;
  }

  .buttons {
    text-align: center;
    padding-top: 50px;
  }
  .buttons button
  {
    padding: 5px 10px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 15px;

  }
  
  .timersection {
    display: flex;
    padding-top: 50px;
  }
  .timersection p
  {
    border: 1px solid rgb(167, 164, 164);
    padding: 5px 25px;
    text-align: center;
  }
  .timersection h2
  {
    border: 1px solid rgb(167, 164, 164);
    padding: 20px 40px;
    text-align: center;
    
  }
  .appended-value {
    text-align: center;
    padding-top: 25px;
  }
  #Start {
    border: 1px solid green;
    border-radius: 5px;
    background-color: white;
    color:green;
    cursor: pointer;
  }
  #Pause {

    border: 1px solid rgb(71, 165, 202);
    border-radius: 5px;
    color:rgb(71, 165, 202);
    background-color: white;
    cursor: pointer;
  }
  #Stop {
    border: 1px solid red;
    border-radius: 5px;
    color:red;
    background-color: white;
    cursor: pointer;
  }
  #Reset {
    border: 1px solid grey;
    border-radius: 5px;
    color:grey;
    background-color: white;
    cursor: pointer;
  }
  .start-text
  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .log
  {
    text-align: center;
  }
  .log ol
  {
    font-size: 15px;
    font-weight: bold;
  }
