* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

.container {
  width: 820px;
}
.log-part {
  width: 90%;
}
.heading h2 {
  text-align: center;
  font-family: arial, sans-serif;
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 50px;
  font-weight: 500;
}
label {
  font-size: 50px;
}
.hr {
  margin-top: -25px;
  margin-bottom: 40px;
}
.steps {
  display: flex;
}
.step-content {
  display: none;
  padding-top: 40px;
}
#firstname {
  margin-left: 120px;
  width: 400px;
  height: 40px;
}
#lastname {
  margin-left: 125px;
  width: 400px;
  height: 40px;
}
#email {
  margin-left: 10px;
  width: 400px;
  height: 40px;
}
#datepicker {
  width: 400px;
  height: 40px;
}
#phone {
  margin-left: 15px;
  width: 400px;
  height: 40px;
}
#datepicker-example1 {
  margin-left: 50px;
  width: 400px;
  height: 40px;
}
#sports {
  width: 400px;
  height: 40px;
  margin-left: 10px;
  font-size: 18px;
}
#Hours {
  width: 400px;
  height: 40px;
  margin-left: 22px;
}
#ZipCode {
  width: 400px;
  height: 40px;
  margin-left: 164px;
}
#ipAddress {
  width: 400px;
  height: 40px;
  margin-left: 140px;
}
#myForm
  > div
  > div.contents.clear
  > div.step-content.active
  > label.checkbox-css {
  left: 0px;
}
#about {
  width: 400px;
  height: 40px;
  margin-left: 32px;
  FONT-SIZE: 18PX;
  PADDING-TOP: 7PX;
}
.steps h3 {
  color: rgb(6, 70, 59);
  font-size: 19px;
  margin-top: 30px;
  padding: 10px 103px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid gray;
  background-color: white;
  cursor: pointer;
}
.active h3 {
  color: rgb(6, 70, 59);
  font-size: 20px;
  margin-top: 30px;
  padding: 10px 100px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  /* border-bottom: 1px solid gray; */
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  background-color: white;
  cursor: pointer;
}
.validationmessage {
  color: red;
  font-size: 15px;
}
.step-content p {
  padding-top: 5px;
  font-size: 20px;
}
.active {
  display: block;
}

button {
  font-size: 17px;
  background-color: #f1ecec;
  padding: 5px 20px;
  margin-top: 40px;
}
.save-1 {
  float: right;
}
.save-2 {
  float: right;
}
.prev-1 {
  float: left;
}
.log-part {
  padding-top: 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 150px;
  font-size: 20px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
}
label {
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
  line-height: 60px;
}

#submit {
  float: right;
}
input {
}
.gender-male-css input {
  width: 50px;
  height: 20px;
}
.checkbox-css input {
  width: 50px;
  height: 18px;
}
label {
  padding-top: 25px;
  font-size: 25px;
}
#specialCancel {
  float: right;
}

/* css for validation messges */
#ZipCode-error {
  font-size: 15px;
  color: red;
}
#firstname-error {
  font-size: 15px;
  color: red;
}
#lastname-error {
  font-size: 15px;
  color: red;
}
#Hours-error {
  font-size: 15px;
  color: red;
}
#ipAddress-error {
  font-size: 15px;
  color: red;
}
#email-error {
  font-size: 15px;
  color: red;
}

#phone-error {
  font-size: 15px;
  color: red;
}
#datepicker-error {
  font-size: 15px;
  color: red;
}
#about-error {
  font-size: 15px;
  color: red;
}
#agree-error {
  font-size: 15px;
  color: red;
}
