* {
  margin: 0 auto;
  padding: 0 auto;
}

.wrapper {
  width: 700px;
}

.all-buttons {
  margin-top: 50px;
}

.all-buttons button {
  background-color: #346866;
  border: 1px solid black;
  color: white;
  padding: 22px 16px;
  float: left;
  width: 100%;
  text-align: left;
}
.description {
  /* display: none; */
  background-color: #b9ffb7;
  transition: max-height 0.2s ease-out;
}

.hide {
  display: none;
}

.tablniks i {
  float: right;
}

.tablinks i {
  float: right;
}

/* 
.tablinks:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .main-item.active .tablinks:after {
    content: "\2212";
  } */
