.Mycontainer {
  width: 1350px;
}

.parent-box {
  padding-top: 20px;
}

.child-box {
  padding-top: 20px;
  padding-left: 30px;
  color: white;
}
#addMore {
  background-color: green;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.parent-box {
  border: 1px solid black;
  width: 38%;
  padding: 20px;
  margin-top: 15px;
  color: white;
}
.parent-boxClone {
  padding-top: 20px;
  border: 1px solid black;
  width: 38%;
  padding: 20px;
  margin-top: 15px;
  color: white;
}
.addChild {
  background-color: rgb(31, 36, 31);
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.deleteParent {
  background-color: red;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.submit {
  background-color: green;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
#removeChild {
  background-color: red;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
/* .hide
{
    display: none;
} */

#parentInput {
  color: red;
}
tbody {
  width: 100%;
}
tr {
  border: 1px solid black;
  color: black;
  font-size: 23px;
}
td {
  border: 1px solid black;
  color: black;
  font-size: 23px;
  width: 200px;
}
.changeoverTable {
  float: right;
  margin-right: 200px;
}
.childbox {
  padding-top: 10px;
}
.hide {
  display: none;
}
th {
  color: black;
  font-size: 23px;
  width: 200px;
}
